/*normalize*/
body,body * {
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

.clearfix{
    zoom: 1;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.mr5{
    margin-right: 5px;
}
/*布局*/
header{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ddd;
    z-index: 20;
}
aside{
    box-sizing: border-box;
    height: 100%;
    padding-top: 80px;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 0;
}
.list{
    width: 160px;
    left: 0;
    background-color: #eee;
}
.progress{
    width: 140px;
    left: 160px;
    background-color: #eee;
}
.bar{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 300px;
    top: 80px;
    background-color: yellow;
}
.content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    padding-left: 300px;
}
/*css*/
header p{
    padding-left: 10px;
    color: #999;
    line-height: 80px;
}

.list-container{
    padding: 5px;
}
.list-container h4{
    margin: 5px 0;
}
.list-container h5,
.list-container h6{
    margin: 5px 0;
}
.list-container h6{
    /*cursor: pointer;*/
}

.icon{
    width: 10px;
    height: 22px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.icon-star{
    background-image: url('../../asset/x22.png');
}
.icon-book{
    background-image: url('../../asset/x1.jpg');
}
.icon-delete{
    background-image: url('../../asset/x33.jpeg');
}

.list-container h6 p{
    width: 124px;
    height: 22px;
    line-height: 22px;
}
.list-container h6 a{
    display: none;
}
.list-container h6:hover a{
    display: block;
}

.list-task{
    margin-left: 15px;
    font-size: 14px;
}

.list-container h6 p span,
.list-task p span{
    margin-left: 5px;
}
























