body,body * {
    padding: 0;
    margin: 0;
}

.clearfix{
    zoom: 1;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
}
.clear:after{
    clear: both;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ddd;
    z-index: 20;
}
.bar{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 200px;
    top: 80px;
    background-color: yellow;
}
aside{
    box-sizing: border-box;
    width: 100px;
    height: 100%;
    padding-top: 100px;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 0;
}
.list{
    left: 0;
    background-color: #eee;
}
.category{
    left: 100px;
    background-color: #eee;
}
.container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    padding-left: 200px;
}

header p{
    height: 100%;
    color: #999;
    font-size: 20px;
    line-height: 80px;
}


























