/*normalize*/
body,body * {
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

.clearfix{
    zoom: 1;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.mr5{
    margin-right: 5px;
}
/*布局*/
header{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ddd;
    z-index: 20;
}
aside{
    box-sizing: border-box;
    height: 100%;
    padding-top: 80px;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 0;
    z-index: 15;
}
.list{
    width: 160px;
    left: 0;
    background-color: #eee;
}
.progress{
    width: 140px;
    left: 160px;
    /*background-color: #eee;*/
}
.bar{
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 80px 0 0 300px;
}
.content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 152px;
    padding-left: 300px;
}
/*css*/
header p{
    padding-left: 10px;
    color: #999;
    line-height: 80px;
}

.list-container{
    padding: 5px;
    position: relative;
}
.list-container h4{
    margin: 5px 0;
}
.list-container h5,
.list-container h6{
    margin: 5px 0;
}
.list-container h6{
    /*cursor: pointer;*/
}

.icon{
    width: 10px;
    height: 22px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.icon-star{
    background-image: url('../../asset/x22.png');
}
.icon-book{
    background-image: url('../../asset/x1.jpg');
}
.icon-delete{
    background-image: url('../../asset/x33.jpeg');
}
.icon-add{
    background-image: url('../../asset/x21.png');
}
.icon2{
    height: 30px;
    margin: 0 10px;
}
.icon-edit{
    background-image: url('../../asset/x2.png');
}
.icon-save{
    background-image: url('../../asset/x3.png');
}
.icon3{
    width: 15px;
    height: 20px;
    margin: 0 5px;
    background-size: 15px 15px;
}

.list-container h6 div{
    height: 22px;
}
.list-container h6 p{
    width: 124px;
    height: 22px;
    line-height: 22px;
}
.list-container h6 a{
    display: none;
}
.list-container h6 div:hover a{
    display: block;
}
/*.list-container h6:hover a{
    display: block;
}*/

.list-task{
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    font-weight: normal;
    display: none;
}
.list-active{
    display: block;
}
.list-task li p{
    width: 109px;
}
.list-task li a{
    display: none;
}
.list-task li:hover a{
    display: block;
}

.list-container h6 p span,
.list-task p span{
    margin-left: 5px;
}

.add-panel{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    border-top: 1px solid #ddd;
    background-color: #eee;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
}

.category-panel{
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}
.category-panel li{
    height: 18px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    padding: 2px;
    margin: 4px 2px;
    cursor: pointer;
}
.category-panel li:hover{
    background-color: #fff;
}
.category-panel .category-active{
    background-color: #fff;
}

.list-progress{
    margin-top: 31px;
    font-size: 12px;
}
.list-progress time{
    display: block;
    height: 20px;
    padding-left: 15px;
    background-color: #f5f5c9;
    line-height: 20px;
}
.list-progress li{
    height: 20px;
    padding-left: 25px;
    line-height: 20px;
}
.list-progress li:hover{
    background-color: #eee;
}

.bar{
    height: 152px;
}
.edit-panel{
    padding: 10px;
    height: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    line-height: 20px;
}
.task-date{
    height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5c9;
    font-size: 12px;
    line-height: 30px;
}
.task-detail{
    padding: 10px;
}

.list-container .task-active{
    background-color: peachpuff;
}

.alert-panel{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    min-height: 100px;
    border-radius: 10px;
    background-color: #92c5b0;
    z-index: 100;
}
.animation-show{
    animation-name: showUp;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes showUp{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.alert-header{
    height: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
.alert-body{
    padding: 10px;
    color: #fff;
}
.alert-footer{
    height: 30px;
    color: #fff;
    text-align: center;
}
.button-cancel,
.button-check{
    display: inline-block;
    padding: 0 4px;
    margin: 5px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
.button-cancel{
    background-color: #615a5a;
}
.button-check{
    background-color: #1c53b7;
}

.icon-withdraw{
    background-image: url('../../asset/x111.jpeg');
}
.icon4{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}










