html,body,body *{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

.clearfix{
    zoom: 1;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}

.container{
    width: 600px;
    margin: 20px auto;
}
.container input{
    height: 30px;
}
.container input:focus{
    outline: unset;
}
.result{
    width: 150px;
    border: 1px solid #666;
    display: none;
}
.result li{
    padding: 5px;
}
.result .active{
    color: #fff;
    background-color: grey;
}
.result li:hover{
    color: #fff;
    background-color: grey;
}